@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  background-color: rgb(65, 65, 145);
  color: white;
  margin: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
nav {
  display: flex;
}
span {
  background-color: inherit;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-right: 280px;
}
.nav_cta {
  font: DM Sans;
  font-size: 18px;
  font-size: x-small;
  position: relative;
  left: 30px;
}
.secondary_btn {
  font: DM Sans;
  background-color: blue;
  border: none;
  width: 80px;
  height: 20px;
  border-radius: 15px;
  margin: 20px;
  font-size: x-small;
}
.hero span {
  font: DM Sans;
  position: relative;
  margin: 200px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.hero .under {
  font: DM Sans;
  margin: 230px;
  font-size: 35px;
}
.hero .para1 {
  width: 55%;
  position: relative;
  left: 150px;
  text-align: center;
}
.cta .form {
  display: flex;
  position: relative;
  left: 200px;
}
#email {
  border: 0.2px solid white;
  border-radius: 10px;
  padding: 1px;
  font-size: 10px;
  height: 15px;
}
.primary_btn {
  background-color: aqua;
  border: none;
  width: 70px;
  height: 20px;
  padding: 5px;
  position: relative;
  top: 10px;
  border-radius: 10px;
  right: 25px;
}
.cta .footer {
  position: relative;
  left: 230px;
  font-size: xx-small;
}
