@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  padding: 0px;
  margin: 2rem 8rem;
  background-color: #1e0e62;
  font-family: "Dm sans";
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
  color: #fff;
}
span {
  font-size: large;
  font-weight: bold;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.nav_bar button {
  background-color: #e93a7d;
  color: #fff;
  padding: 5px;
  border-radius: 999px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.left {
  width: 50%;
  color: #fff;
}
.left p {
  line-height: 1.2rem;
  font-size: 15px;
}
.right {
  width: 35%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.h1 {
  font-size: 30px;
  width: 5px;
  margin-top: 2rem;
}
.second {
  background-color: #e93a7d;
  width: 80px;
  height: 20px;
  font-size: x-small;
  border-radius: 999px;
  margin-top: 1rem;
}
#email,
#password {
  width: 90%;
  border-radius: 999px;
  border: 1px solid #ebeaed;
  padding: 5px;
}
h2 {
  margin-left: 20px;
  color: #1e0e62;
}
#email {
  margin-bottom: 0.6rem;
}
#password {
  margin-bottom: 0.6rem;
}
#email::placeholder,
#password::placeholder {
  font-size: xx-small;
  padding: 10px;
  color: #15143966;
}
.small {
  display: flex;
  align-items: center;
  font-size: x-small;
  margin-bottom: 0.5rem;
}
.third {
  background-color: #482be7;
  color: #fff;
  width: 90%;
  border-radius: 999px;
  padding: 5px;
  font-size: xx-small;
}
.or {
  width: 100%;
  text-align: center;
  color: #15143966;
}
.twitter {
  display: flex;
  flex-direction: column;
}
.fourth {
  background-color: #1da1f2;
  color: #fff;
  width: 90%;
  border-radius: 999px;
  padding: 5px;
  font-size: xx-small;
}
.do {
  font-size: xx-small;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.do a {
  color: #25dac5;
}
.one {
  color: #15143966;
}
#checbox:checked {
  color: #000;
}
