@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Dm sans";
  overflow: hidden;
}
section {
  width: 100%;
  height: 650px;
  background: url(Background.jpg);
  background-size: auto auto;
  background-repeat: no-repeat;
  position: relative;
  border-image: fill 0 linear-gradient(#0003, #000);
  background-attachment: fixed;
}
/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #475a94ad;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  font-size: xx-small;
}
nav {
  margin-top: 0.2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
} /*nav bar */
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
} /*nav bar fight */
.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
/* right nav */
.nav_right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.nav_right button {
  background: none;
  border: 1px solid #ffffff42;
  border-radius: 999px;
  padding: 8px;
  font-size: xx-small;
  color: #fff;
}
.hero {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #fff;
  width: 68%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}
#email,
#text {
  background: transparent;
  border: 1px solid #ffffff44;
  border-radius: 999px;
  height: 20px;
}
#email {
  margin-left: 1rem;
}
#email::placeholder {
  color: #ffffff44;
  font-size: xx-small;
}
#text::placeholder {
  color: #ffffff44;
  font-size: xx-small;
}
form button {
  padding: 0.6rem;
  margin-left: 1rem;
  background-color: #e93a7d;
  border: none;
  border-radius: 999px;
  color: #fff;
  font-size: xx-small;
}
#text {
  margin-left: 8rem;
}
.or {
  color: #fff;

  text-transform: uppercase;
  font-size: 7px;
  margin-top: 2rem;
  word-spacing: 0.2rem;
  text-align: center;
}
.icon {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.icon a {
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff44;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}
